$myblack: #0a0a07;
$mydarkgreen: #23930a;

.container {
  height: 100%;
  width: 590px;
  margin: 0 25px;

  display: flex;
  flex-direction: column;

  .logo {
    background-image: url('../../../../assets/diet-coach-logo.png');
    background-size: cover;
    height: 150px;
    width: 90px;

    margin: 15px 0;
  }

  .title {
    margin-bottom: 80px;

    h1 {
      font-size: 35px;
    }

    h2 {
      color: rgba($myblack, $alpha: 0.4);
    }
  }

  span {
    font-size: 24px;
    margin-bottom: 8px;
  }

  input {
    height: 50px;
    border: 1px solid rgba($myblack, $alpha: 0.4);
    border-radius: 10px;

    padding-left: 20px;
    margin-bottom: 15px;

    font-size: 18px;
    color: rgba($myblack, $alpha: 0.4);

    &.invalid {
      border: 2px solid rgba(red, $alpha: 0.8);
    }
  }

  button {
    height: 50px;
    border-radius: 10px;

    font-size: 18px;
    color: #fff;
    background-color: $mydarkgreen;
    border: none;

    cursor: pointer;
  }

  p {
    margin-top: 15px;

    color: rgba($myblack, $alpha: 0.4);
    text-decoration: none;

    cursor: pointer;

    b {
      color: $mydarkgreen;
    }
  }
}
